In [1]:
import pandas as pd

In [3]:
df = pd.read_excel(r"E-694 Repeat Characters Except Consecutives.xlsx", usecols = 'A')
df

          Data
0         jqum
1       beeaao
2       xyzxyz
3    wreeemccc
4    caaaaaaac
5  zzzzzyttttt
6     wwddeeqq
7    qwwwwwrty

In [52]:
def repeat_characters(string):
    a = list(string)
    b = a[1:] + ['']
    c = [''] + a[:-1]
    d = list(zip(a, b, c))
    e = []
    for x in d:
        if ((x[0] != x[1]) * (x[0] != x[2])) == 1:
            e.append(x[0]*2)
        else:
            e.append(x[0])
    return ''.join(e)

In [72]:
df['Ans'] = df['Data'].apply(repeat_characters)
df

          Data            Ans
0         jqum       jjqquumm
1       beeaao       bbeeaaoo
2       xyzxyz   xxyyzzxxyyzz
3    wreeemccc   wwrreeemmccc
4    caaaaaaac    ccaaaaaaacc
5  zzzzzyttttt   zzzzzyyttttt
6     wwddeeqq       wwddeeqq
7    qwwwwwrty  qqwwwwwrrttyy

In [71]:
def repeat_characters(string):
    text = string
    result = []
    
    for i in range(0, len(text)):
        prev = text[i - 1] if i > 0 else ''
        curr = text[i]
        next_ = text[i + 1] if i < len(text) - 1 else ''
        n = (curr != prev) * (curr != next_)
        
        result.append(curr * 2) if n == 1 else result.append(curr)

    return ''.join(result)