In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("E-742 Anagram Listing.xlsx", usecols = 'A')
df['WordsSorted'] = df['Words'].apply(lambda x: ''.join(sorted(list(x))))
df = df.sort_values('WordsSorted')
df.head()

       Words WordsSorted
19  hectares    aceehrst
21  cheaters    aceehrst
9   teachers    aceehrst
12   leacing     acegiln
7    gleanic     acegiln

In [3]:
group = (
    df
    .groupby('WordsSorted')
    .agg(Answer = ('Words', lambda x: ', '.join(sorted(x))))
    .loc[lambda x: x['Answer'].str.contains(',')]
    .reset_index(drop = True)
)
group

                                           Answer
0                    cheaters, hectares, teachers
1                       angelic, gleanic, leacing
2                          anemic, cinema, iceman
3                       admirer, married, midrear
4                      below, beowl, bowel, elbow
5                  cereus, recuse, rescue, secure
6                       notices, section, tonices
7                    desserts, sedsters, stressed
8                          finder, friend, refind
9  elints, enlist, inlets, listen, silent, tinsel