In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('217 - Table Transformation.xlsx', usecols = 'B:C', nrows = 15, header = 1)
df['GroupN'] = df['Column 1'].astype(str).str.contains('=').cumsum()
df.head()

              Column 1  Column 2  GroupN
0           Product =A       NaN       1
1                 Date  Quantity       1
2  2024-07-20 00:00:00         3       1
3  2024-08-05 00:00:00         2       1
4  2024-09-18 00:00:00         6       1

In [3]:
result = []

for n, group in df.groupby('GroupN'):

    current_group = group.reset_index(drop = True)
    product_name = current_group.loc[0, 'Column 1'].split('=')[1]

    data = current_group.iloc[2:].reset_index(drop = True)

    temp = pd.DataFrame(
        {
            'Product': product_name,
            'Date': pd.to_datetime(data['Column 1']).dt.date,
            'Quantity': data['Column 2'].values
        }
    )

    result.append(temp)

solution = pd.concat(result, ignore_index = True)
solution

  Product        Date Quantity
0       A  2024-07-20        3
1       A  2024-08-05        2
2       A  2024-09-18        6
3       B  2024-08-05        1
4       B  2024-08-13        1
5       B  2024-09-18        4
6       C  2024-08-05        8
7       C  2024-08-05        2
8       C  2024-09-18        2