In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r'1 - Derive Points Table for ICC Tournament.xlsx', usecols = 'A:C', nrows = 5, header = 1 )
df

  Team_1 Team_2 Winner
0    Aus  India  India
1    Eng     NZ     NZ
2  India     SL  India
3     SA    Eng    Eng
4     SL    Aus    Aus

In [3]:
unique_teams = set(df['Team_1'].values.tolist() + df['Team_2'].values.tolist())
unique_teams

{'Aus', 'Eng', 'India', 'NZ', 'SA', 'SL'}

In [4]:
result = []
for t in unique_teams:
    result.append(
        pd.DataFrame([{
                'Team Name': t,
                'Matches Played': len(df[df[['Team_1', 'Team_2']].isin([t]).any(axis = 1)]),
                'Wins': sum(df['Winner'] == t),
                'Losses': sum(df[['Team_1', 'Team_2']].isin([t]).any(axis=1) & (df['Winner'] != t))
            }]
        )
    )

In [5]:
solution = pd.concat(result, ignore_index = True)
solution.sort_values(['Matches Played', 'Wins'], ascending = [False, False]).reset_index(drop = True)

  Team Name  Matches Played  Wins  Losses
0     India               2     2       0
1       Eng               2     1       1
2       Aus               2     1       1
3        SL               2     0       2
4        NZ               1     1       0
5        SA               1     0       1