In [16]:
import pandas as pd

In [18]:
seq = [1, 2, 3, 4]

for i in range(48):
    a = seq[-4:]
    b = a[0::2]
    c = a[1::2]
    seq.extend([sum(b), sum(c)])

pd.DataFrame({'Answer':seq})

         Answer
0             1
1             2
2             3
3             4
4             4
..          ...
95  15557484098
96  17393796001
97  25172538050
98  28143753123
99  40730022148

[100 rows x 1 columns]